{% extends 'index.html' %}

{% block codigoindex %}
<h1>Sobre mi:</h1>
<p>Mi nombre es iñaki y tengo 16 años, soy la persona que diseño y programo este web</p>
<p>Me encuentro actualmente estudiando Python, y seguire estudiando programacion tras finalizar este curso</p>
<h1>Acerca del proyecto:</h1>
<p>Este proyecto busca que la gente pueda ver publicaciones sobre cualquier topico, pero mas especificamente sobre perros y gatos. En esta, 
    los usuarios pueden ver las publicaciones sin necesidad de registrarse y pueden comentarlas si iniciaron sesion. Ademas pueden crear su perfil y subir 
    informacion acerca de ellos.
</p>
<p>Los administradores de la pagina nos encargamos de subir publicaciones y podemos borrarlas o modificarlas.</p>
{% endblock codigoindex %}