{% extends 'index.html' %}
{% block codigoindex %}
{% if comentarios %}
    <ul>
    <h1>Comentarios de la publicacion: </h1>
    {% for comentario in comentarios %}
        <h3>Comentario de {{comentario.autor}}:</h3>
        <p>{{comentario.cuerpo}}</p>
        
        
    {% endfor %}
    </ul>
    <button>
        <a href="{% url 'Publicacion Detail' publicacion_id %}">Volver a la publicacion</a>
    </button> 
{% else %}
    <p> No hay comentarios aún </p>

{% endif %}
   <button>
        <a href="{% url 'Publicacion List' 'todo' %}">Volver a la lista de publicaciones</a>
    </button> 
{% endblock codigoindex %}